[Desktop Entry]
Encoding=UTF-8
Name=Now Dock Panel
Type=Service
Keywords=
NoDisplay=true

X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=org.kdelook.nowdock.panel
X-KDE-PluginInfo-Version=0.3.0
X-KDE-PluginInfo-Website=https://store.kde.org/p/1151047/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-ContainmentType=Panel 


