[Desktop Entry]
Encoding=UTF-8
Name=Now Dock Panel
Name[el]=Now Dock Πίνακας
Name[ro]=Panou Now Dock
Name[zh_TW]=Now Dock 面板
Comment=A plasma panel that tries to animate its plasmoid on hovering
Comment[el]=Ένας πίνακας του Plasma που χρησιμοποιεί ποικίλα εφέ για τις εφαρμογές του
Comment[ro]=Un panou plasma care încearcă să animeze miniaplicațiile la trecerea peste
Comment[zh_TW]=一個嘗試讓滑鼠游標停在上面時會讓它的 plasmoid 產生動畫的 plasma 面板

Type=Service
Keywords=
NoDisplay=true

X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=org.kde.store.nowdock.panel
X-KDE-PluginInfo-Version=0.3.0
X-KDE-PluginInfo-Website=https://store.kde.org/p/1154578/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-ContainmentType=Panel 


